/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        NotEqual: NotEqual {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_8 &kp KP_N8 &kp KP_N0 &kp KP_N0>,
                <&macro_release>,
                <&kp RALT>;

            label = "NOTEQUAL";
            wait-ms = <30>;
            tap-ms = <30>;
        };

        pi: pi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_2 &kp KP_NUMBER_2 &kp KP_NUMBER_7>,
                <&macro_release>,
                <&kp RALT>;

            label = "PI";
            wait-ms = <30>;
            tap-ms = <30>;
        };

        plusminus: plusminus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_7 &kp KP_NUMBER_7>,
                <&macro_release>,
                <&kp RALT>;

            label = "PLUSMINUS";
            wait-ms = <30>;
            tap-ms = <30>;
        };

        greaterthan: greaterthan {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_2 &kp KP_NUMBER_4 &kp KP_NUMBER_2>,
                <&macro_release>,
                <&kp RALT>;

            label = "GREATERTHAN";
            wait-ms = <30>;
            tap-ms = <30>;
        };

        lessthan: lessthan {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_2 &kp KP_NUMBER_4 &kp KP_NUMBER_3>,
                <&macro_release>,
                <&kp RALT>;

            label = "LESSTHAN";
            wait-ms = <30>;
            tap-ms = <30>;
        };

        approxequal: approxequal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_2 &kp KP_NUMBER_4 &kp KP_NUMBER_7>,
                <&macro_release>,
                <&kp RALT>;

            label = "APPROXEQUAL";
            wait-ms = <30>;
            tap-ms = <30>;
        };

        alpha: alpha {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_2 &kp KP_NUMBER_2 &kp KP_NUMBER_4>,
                <&macro_release>,
                <&kp RALT>;

            label = "ALPHA";
            wait-ms = <30>;
            tap-ms = <30>;
        };

        Micro: Micro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_2 &kp KP_NUMBER_3 &kp KP_NUMBER_0>,
                <&macro_release>,
                <&kp RALT>;

            label = "MICRO";
            wait-ms = <30>;
            tap-ms = <30>;
        };

        degree: degree {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_7 &kp KP_NUMBER_6>,
                <&macro_release>,
                <&kp RALT>;

            label = "DEGREE";
            wait-ms = <30>;
            tap-ms = <30>;
        };

        square: square {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_7 &kp KP_NUMBER_8>,
                <&macro_release>,
                <&kp RALT>;

            label = "SQUARE";
            wait-ms = <30>;
            tap-ms = <30>;
        };

        Diam: Diam {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_0 &kp KP_NUMBER_2 &kp KP_NUMBER_1 &kp KP_NUMBER_6>,
                <&macro_release>,
                <&kp RALT>;

            label = "DIAM";
            wait-ms = <30>;
            tap-ms = <30>;
        };

        littledelta: littledelta {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_2 &kp KP_NUMBER_3 &kp KP_NUMBER_5>,
                <&macro_release>,
                <&kp RALT>;

            label = "LITTLEDELTA";
            wait-ms = <30>;
            tap-ms = <30>;
        };
    };

    behaviors {
        wire: wire {
            compatible = "zmk,behavior-tap-dance";
            label = "WIRE";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&kp LA(Q)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC     &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT                         &kp CARET  &kp AMPERSAND  &kp ASTRK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BACKSPACE
&kp TAB     &kp Q     &kp W   &kp E     &kp R       &kp T                               &kp Y      &kp U          &kp I      &kp O                 &kp P                  &kp BACKSLASH
&kp LSHIFT  &kp A     &kp S   &kp D     &kp F       &kp G                               &kp H      &kp J          &kp K      &kp L                 &kp SINGLE_QUOTE       &kp ENTER
&to 0       &kp Z     &kp X   &kp C     &kp V       &kp B        &kp LCTRL    &kp RBKT  &kp N      &kp M          &kp COMMA  &kp DOT               &kp FSLH               &kp RSHFT
                              &kp LALT  &kp LGUI    &mo 0        &kp SPACE    &kp RET   &mo 0      &kp RALT       &kp RCTRL
            >;
        };

        SldWksNumb {
            bindings = <
&kp N7  &kp N8  &kp N9   &kp FSLH   &kp BSPC  &kp DEL                            &kp EQUAL  &plusminus    &greaterthan  &lessthan  &NotEqual     &kp BSPC
&kp N4  &kp N5  &kp N6   &kp STAR   &kp A     &kp ESC                            &Diam      &square       &kp HOME      &kp UP     &littledelta  &kp BSLH
&kp N1  &kp N2  &kp N3   &kp MINUS  &kp D     &kp S                              &Micro     &approxequal  &kp LEFT      &kp DOWN   &kp RIGHT     &kp RET
&to 0   &kp N0  &kp DOT  &kp PLUS   &wire     &kp TAB    &kp LCTRL    &trans     &degree    &kp TILDE     &kp END       &pi        &kp GRAVE     &kp RSHFT
                         &kp RET    &kp LALT  &kp LSHFT  &kp SPACE    &kp SPACE  &tog 1     &kp RALT      &kp RCTRL
            >;
        };

        SldAlt {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };

        SldShift {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };

        Utility {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };

        WireRet {
            bindings = <
&trans  &trans  &trans  &trans  &trans     &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &kp LA(Q)  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans     &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
